<h1>Pharmacies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Pharmacyno</th>
      <th>Pname</th>
      <th>Wname</th>
      <th>Hname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pharmacies.each do |pharmacy| %>
      <tr>
        <td><%= pharmacy.pahrmacyno %></td>
        <td><%= pharmacy.pharmacyname %></td>
        <td><%= pharmacy.wname %></td>
        <td><%= pharmacy.hname %></td>
        <td><%= link_to 'Show', [pharmacy.hospital, pharmacy] %></td>
        <td><%= link_to 'Edit', edit_hospital_pharmacy_path(pharmacy.hospital, pharmacy) %></td>
        <td><%= link_to 'Destroy', hospital_pharmacies_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pharmacy', new_hospital_pharmacy_path %>
