<h2 class="text-center">Patients</h2>

<table class="table">
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Birthdate</th>
      <th>Title</th>
      <th>Consultation</th>
      <th>Wname</th>
      <th>Dname</th>
      <th>Documents</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.fname %></td>
        <td><%= patient.lname %></td>
        <td><%= patient.birthdate.strftime("%B %d, %Y") %></td>
        <td><%= patient.title %></td>
        <td><%= patient.consutation.strftime("%B %d, %Y") %></td>
        <td><%= patient.wname %></td>
        <td><%= patient.dname %></td>
        <td><%= link_to "Download", patient.attachment_url %></td>
        <td><%= link_to 'View', [patient.hospital, patient] %></td>
        <% if current_user.role == 'doctor' %>
        <td><%= link_to 'Examine', patient_patientrecords_path([patient.hospital]) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.role == "receptionist" %>
<%= link_to 'New Patient', new_hospital_patient_path %>
<% end %>
