<p>
  <strong>Fname:</strong>
  <%= @pharmacist.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @pharmacist.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pharmacist.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pharmacist.title %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @pharmacist.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @pharmacist.phone %>
</p>

<p>
  <strong>Wardno:</strong>
  <%= @pharmacist.wname %>
</p>

<p>
  <strong>Pharmacyno:</strong>
  <%= @pharmacist.pharmacyname %>
</p>

<p>
  <strong>Role:</strong>
  <%= @pharmacist.role %>
</p>

<p>
  <strong>Hname:</strong>
  <%= @pharmacist.hname %>
</p>
