<h1 class="text-center">New Administrator</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
<%= form_for([@administrator.hospital, @administrator]) do |form| %>
  <% if @administrator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrator.errors.count, "error") %> prohibited this administrator from being saved:</h2>

      <ul>
      <% @administrator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :fname %>
    <%= form.text_field :fname, id: :administrator_fname,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :lname %>
    <%= form.text_field :lname, id: :administrator_lname,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :administrator_email,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :administrator_title,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :administrator_address1,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :administrator_address2,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :address3 %>
    <%= form.text_field :address3, id: :administrator_address3,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :address4 %>
    <%= form.text_field :address4, id: :administrator_address4,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :administrator_phone,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :officeno %>
    <%= form.text_field :officeno, id: :administrator_officeno,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :hname %>
    <%= form.text_field :hname, id: :administrator_hname,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, id: :administrator_password,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :administrator_password_confirmation,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :hospital_id %>
    <%= form.text_field :hospital_id, id: :administrator_hospital_id,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit",class: "btn btn-default col-md-12" %>
  </div>
<% end %>
</div>
</div>

<%= link_to 'Back', hospital_administrators_path %>
