<!DOCTYPE html>
<html>
  <head>
    <title>HospitalFileSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
     <% if logged_in? %>
    <nav class="navbar bg-inverse navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Hospital File Management System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user.role == 'administrator'%>
        <li><%= link_to 'Pharmacy Records', hospital_pharmacyrecords_path(current_user.hospital_id) %></li>
        <% end %>
        <% if current_user.role == 'receptionist'%>
        <li><%= link_to 'Add Patient', new_hospital_patient_path(current_user.hospital_id) %></li>
        <% end %>
        <% if current_user.role == 'administrator'%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Add Ward', new_hospital_ward_path(current_user.hospital_id) %></li>
            <li><%= link_to 'Add Pharmacy', new_hospital_pharmacy_path(current_user.hospital_id) %></li>
            <li><%= link_to 'Add Pharmacist', new_hospital_pharmacist_path(current_user.hospital_id) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Add Receptionist', new_hospital_receptionist_path(current_user.hospital_id) %></li>
            <li><%= link_to 'Add Nurse', new_hospital_nurse_path(current_user.hospital_id) %></li>
            <li><%= link_to 'Add Doctor', new_hospital_doctor_path(current_user.hospital_id) %></li>
          </ul>
        </li>
        <% end %>
      </ul>

      <% if controller.controller_name == "patients" %>
      <%= form_tag hospital_patients_path, method: 'get',class: "navbar-form navbar-left" do %>
          <%= text_field_tag :search, params[:search], class: "form-control",placeholder: "Search" %>
          <%= submit_tag "Search" ,class: "btn btn-default"%>
          <% end %>
          <% end %>
          <% if controller.controller_name == "doctors" && current_user.role == "doctor"%>
      <%= form_tag hospital_doctor_path(current_user.hospital_id,current_user.id), method: 'get',class: "navbar-form navbar-left" do %>
          <%= text_field_tag :search, params[:search], class: "form-control",placeholder: "Search" %>
          <%= submit_tag "Search" ,class: "btn btn-default"%>
          <% end %>
          <% end %>

      <% if controller.controller_name == "pharmacyrecords" %>
      <%= form_tag hospital_pharmacyrecords_path, method: 'get',class: "navbar-form navbar-left" do %>
          <%= text_field_tag :search, params[:search], class: "form-control",placeholder: "Search" %>
          <%= submit_tag "Search" ,class: "btn btn-default"%>
          <% end %>
          <% end %>
           <% if controller.controller_name == "wards" && current_user.role == "nurse" %>
      <%= form_tag hospital_ward_path(current_user.hospital_id), method: 'get',class: "navbar-form navbar-left" do %>
          <%= text_field_tag :search, params[:search], class: "form-control",placeholder: "Search" %>
          <%= submit_tag "Search" ,class: "btn btn-default"%>
          <% end %>
          <% end %>
     
      <ul class="nav navbar-nav navbar-right">
         <% if current_user.role == 'administrator'%>
         <li><%= link_to 'Patients', hospital_patients_path(current_user.hospital_id) %></li>
        <li><%= link_to '<i class="fa fa-home fa-fw"></i>'.html_safe, hospital_path(current_user.hospital_id) %></li>
        <% end %>
        <% if current_user.role == 'receptionist'%>
        <li><%= link_to '<i class="fa fa-home fa-fw"></i>'.html_safe, hospital_patients_path(current_user.hospital_id) %></li>
        <% end %>
        <% if current_user.role == 'nurse'%>
        <li><%= link_to '<i class="fa fa-home fa-fw"></i>'.html_safe, hospital_ward_path(current_user.hospital_id,current_user.ward_id) %></li>
        <% end %>
        <% if current_user.role == 'pharmacist'%>
        <li><%= link_to '<i class="fa fa-home fa-fw"></i>'.html_safe, hospital_pharmacyrecords_path(current_user.hospital_id) %></li>
        <% end %>
        <% if current_user.role == 'doctor'%>
        <li><%= link_to '<i class="fa fa-home fa-fw"></i>'.html_safe, hospital_doctor_path(current_user.hospital_id,current_user.id) %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user.role == 'administrator'%>
            <li><%= link_to 'Update Admin Profile', edit_hospital_administrator_path(current_user.hospital_id, current_user.id) %></li>
            <li><%= link_to 'Update Hospital', edit_hospital_path(current_user.hospital_id) %></li>
            <% end %>
            <% if current_user.role == 'pharmacist'%>
            <li><%= link_to 'Update Pharmacist Profile', edit_hospital_pharmacist_path(current_user.hospital_id, current_user.id) %></li>
            <% end %>
            <% if current_user.role == 'nurse'%>
            <li><%= link_to 'Update Nurse Profile', edit_hospital_nurse_path(current_user.hospital_id, current_user.id) %></li>
            <% end %>
             <% if current_user.role == 'doctor'%>
            <li><%= link_to 'Update Doctor Profile', edit_hospital_doctor_path(current_user.hospital_id, current_user.id) %></li>
            <% end %>

            <% if current_user.role == 'receptionist'%>
            <li><%= link_to 'Update Receptionist Profile', edit_hospital_receptionist_path(current_user.hospital_id, current_user.id) %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><a>Logged in as: <%= current_user.lname %></a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Logout ' '<i class="fa fa-sign-out"></i>'.html_safe, logout_path %></li>
          </ul>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>

  	<div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> text-center"><%= value %>
        </div>
      <% end %>
    </div>
       <% if logged_in? %>
       <div class="container">
          <H1 class="text-center">
            <%= current_user.hname %>
          </H1>
       </div>
      	<div class="container">
          <%= yield %> 
    </div>
    <% else %>
    <% if current_page?(:controller => 'password_resets', :action => 'new') %>
    <%= render 'password_resets/formreset' %>
      <% elsif current_page?(:controller => 'password_resets', :action => 'edit') %>
      <%= yield %> 
      <% else %>
    <%= render 'sessions/formlogin' %>
    <% end %>
     <% end %>
  </body>

</html>
